@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");

$accent: #B53471;
$white: #F1E8E8;
$black: darken($accent, 30%);
$dark-hard-accent: darken($accent, 38%);
$dark-accent: darken($accent, 18%);

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0,0,0,0.16);

$default-font: 'Sofia Sans', sans-serif;

$mobile: 480px;